*{
  margin: 0px;
  padding: 0px;
}
.container{
  background-color: rgb(235, 225, 213);
  
  
  min-height: 100vh;
  min-width: 100vh;
  border: 15px solid #1d1e4c;
}
.content{
  display: flex;
}
.image-container{
  border-radius: 300px;
height: 400px;
width: 350px;
margin-left: 100px;
margin-top: 100px;
padding-left: 40px;
padding-right:40px;
}
.text-container{
  margin-top: 350px;
  margin-left: 70px;
  font-size: 2em;
  text-align: end;
  
}
.title{
font-size: 4rem;
text-align: center;
margin: 50px;

}
.detail{
  margin: 50px;
font-size: large;
}
.bio{
  margin-left: 60px;
}
ol{
  margin: 10px;
  font-size:18px;
}
footer{
  text-align: end;
  margin: 30px;
  font-size: large
}